
{% extends 'layout.html' %}



{% block home %}

   <!-- HOME -->
   <section id="home">
    <div class="overlay"></div>
      <div class="container">
           <div class="row">

                <div class="col-md-12 col-sm-12">
                     <div class="home-info">
                    
                        {% if d == 1 %}
                        <h1>Text belongs to {{result}} Class <br> Confidence :- {{confidence}} %</h1>
                        <ul class="countdown">
                          <li>
                               <h3>You have Searched for - </h3>
                               <h4 style="color: white;" > {{text}} </h4>
                          </li>
                          
                     </ul>
                        {% else %}
                          <h1>Welcome! <br>आपका स्वागत है</h1>
                       
                          <ul class="countdown">
                               <li>
                                    <h3>Enter the text below</h3>
                               </li>
                               
                          </ul>
                          {% endif %}
                          <div class="subscribe-form">
                            <form action="" method="post">
                              {% csrf_token %}
                              <input type="text" name="text" class="form-control" placeholder="Enter your Text" required="">
                              <button type="submit" class="form-control"><i class="fa fa-arrow-circle-right"></i></button>
                            </form>
                          </div>
                     </div>
                </div>

           </div>
      </div>
 </section>

 {% endblock %}